<div>
    <!--nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"-->
    <nav class="navbar navbar-expand-md navbar-dark navbarCustom">  
      <!---a class="navbar-brand" href="#">MultiApps</a--->
      <%= link_to 'MultiApps', root_path, class: 'navbar-brand'%>
      
      <!--a class="navbar-brand" href="{% url 'bgpict' %}"> | View Scene</a-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- if user.is_authenticated -->
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu dropdown-menu-right formClass center" aria-labelledby="userMenu">
                <!--a class="dropdown-item" href="#">Change password</a>
                <%= link_to 'Change password', edit_user_password_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div-->
                <!--a class="dropdown-item" href="#">Log Out</a-->
                <%= link_to 'Log Out', destroy_user_session_path,  method: :delete, 
                  class: "btn btn-warning btn-mod" %>
              </div>
            </li>
          </ul>
        <% else %>
          <form class="form-inline ml-auto">
            <!--a href="#" class="btn btn-primary btn-mod ml-2">Log In</a-->
            <%= link_to 'Log In', user_session_path, class: "btn btn-primary btn-mod ml-2"%>
            <!--a href="#" class="btn btn-primary btn-mod ml-2">Sign up</a-->
            <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-mod ml-2"%>
          </form>
        <% end %>
      </div>
    </nav>
</div>

